.bg-navbarcolor {
    background-color: #141824;
}


.navlink:hover {
    color: #C03265;
}

.navlink {
    margin: auto;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Arvo', serif;
}

.iconlink:hover {
    fill:#C03265;
}

.icons {
    display:inline-block;
    white-space: nowrap;
}

